@font-face {
  font-family: 'Nokia Cellphone FC';
  src: url('/fonts/NokiaCellphoneFC.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.container {
  font-family: 'Nokia Cellphone FC', sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 16px;
  background-color: #78a47f;
  padding: 8px;
  color: #39553e;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 8px black;
}

.section {
  margin: 8px 0;
}

.section--flex-row {
  display: flex;
}

.section--flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.section--flex-centered {
  justify-content: center;
  align-items: center;
}

.section--centered-text {
  text-align: center;
}

.text--header {
  font-size: 32px;
}

.text--subheader {
  font-size: 24px;
}

.text--margin-right {
  margin-right: 8px;
}

.anchor {
  text-decoration: underline;
}

.sprite {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
